---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div>
		<img class="object-cover h-80 w-full rounded-lg" src="/natur_to.JPG" />
	</div>
	<div class="mt-6 flex gap-6 justify-between">
		<div>
			<h1 class="text-3xl font-md">Hello my name is Rasmus 👋</h1>
			<p class="text-lg font-light text-slate-600">I am a software developer based in Copenhagen. I specialize in fullstack development and i love to take features from idea to production.</p>
		</div>
		<div>
			<div class="bg-orange-50 p-4 rounded-lg shadow-sm flex gap-4">
					<img src="/boostlingo-logo.jpeg" class="h-12 rounded-lg" />
					<div>
						<p>Boostlingo (april 2022 - present)</p>
						<p class="text-sm font-light text-slate-600">Currently i am building real time software at Boostlingo. I have build out self serving payment services, optimized code and rewritten old code bases</p>
					</div>
			</div>
		</div>
	</div>
</Layout>

